{% extends "base.html" %}

{% block title %}
Customer Satisfaction
{% endblock %}

{% block style %}
    .header{
        background-color : #212121;
        height : 3%;
        width : 100%;
        color : white;
        font-size : 40px;
        text-align : center;
        padding : 1%;
    }
{% endblock %}

{% block script %}
localStorage.setItem(0, "15Mins");
{% endblock %}

{% block header %}
<div class="header">
    Customer Satisfaction
    <div style="margin-top:1%; font-size:22px; margin-right:2%; float:right" >
        <a class="text-light" href="{{ url_for('sentiment_analysis.fetch_data_route', time='15m') }}">Go to Dashboard!</a>
    </div>
</div>
{% endblock %}

{% block content %}
 <form method="POST"  enctype="multipart/form-data">
     <div style="display:flex; justify-content:center; margin-top:6%;">{{ form.txt_field(cols="100", rows="20") }}</div><br>
     <div style="display:flex; justify-content:center">
         <button type="submit" class="btn btn-lg btn-dark">Predict Emotion</button>
     </div>
 </form>
{% endblock %}
