{% extends "base.html" %}

{% block title %}
Customer Satisfaction
{% endblock %}

{% block style %}
    .header{
        background-color : #212121;
        height : 3%;
        width : 100%;
        color : white;
        text-align : center;
        font-size : 40px;
        padding : 1%;
    }
{% endblock %}

{% block script %}
localStorage.setItem(0, "15Mins");
{% endblock %}

{% block header %}
<div class="header">
    Customer Satisfaction
    <div style="margin-top:1%; font-size:22px; margin-right:2%; float:right">
        <a class="text-light" href="{{ url_for('main_app.fetch_data_route', time='15m') }}">Go to Dashboard!</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div style="margin:6% 10% 10% 25%;">
 <form method="POST"  enctype="multipart/form-data">
     {{ form.txt_field(cols="100", rows="20") }}
     <button type="submit" class="btn btn-lg btn-dark" style="margin:2% 0% 0% 34%">Predict Emotion</button>
 </form>
    <div id="loading"></div>
</div>
{% endblock %}
